<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <script defer src="~/Scripts/fontawesome/js/all.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/Images/logocopa.svg" />
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("INICIO", "Index", "Home")</li>
                <li>@Html.ActionLink("CORRECCIÓN DE NOMBRE", "Index", "Correction")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div>Copyright &copy; @DateTime.Now.Year Copa Airlines, Incorporated. Todos los derechos reservados.</div>
    </footer>

    <div class="hidden loading" id="loadingContent">
    </div>

    <input type="hidden" id="api-server" value="@System.Configuration.ConfigurationManager.AppSettings["RequestServicesURL"]" />
    <input type="hidden" id="web-server" value="//@HttpContext.Current.Request.Url.Authority@HttpRuntime.AppDomainAppVirtualPath/" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jscontent")
    @RenderSection("scripts", required: false)
</body>
</html>
